<h1>Stocks#show</h1>
<p>Find me in app/views/stocks/show.html.erb</p>
<%= react_component 'Stock', { name: @stock["name"], exchange: @stock["stock_exchange"], symbol: @stock["symbol"], last_price: @stock["last_price"] } %>